{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://westcentralus.api.cognitive.microsoft.com/vision/v2.0"
        },
        {
            "url": "{Endpoint}",
            "variables": {
                "Endpoint": {
                    "description": "Supported Cognitive Services endpoints.",
                    "x-ms-parameter-location": "client",
                    "x-ms-skip-url-encoding": true,
                    "default": ""
                }
            }
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "microsoft"
        },
        "description": "The Computer Vision API provides state-of-the-art algorithms to process images and return information. For example, it can be used to determine if an image contains mature content, or it can be used to find all the faces in an image.  It also has other features like estimating dominant and accent colors, categorizing the content of images, and describing an image with complete English sentences.  Additionally, it can also intelligently generate images thumbnails for displaying large images effectively.",
        "title": "Computer Vision Client",
        "version": "2.0",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/ComputerVision.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "microsoft.com",
        "x-serviceName": "cognitiveservices-ComputerVision",
        "x-tags": [
            "Microsoft"
        ]
    },
    "security": [
        {
            "apim_key": []
        }
    ],
    "paths": {
        "/analyze": {
            "post": {
                "description": "This operation extracts a rich set of visual features based on the image content.\r\nTwo input methods are supported -- (1) Uploading an image or (2) specifying an image URL. Within your request, there is an optional parameter to allow you to choose which features to return. By default, image categories are returned in the response.\r\nA successful response will be returned in JSON. If the request failed, the response will contain an error code and a message to help understand what went wrong.",
                "operationId": "AnalyzeImage",
                "parameters": [
                    {
                        "description": "A string indicating what visual feature types to return. Multiple values should be comma-separated. Valid visual feature types include: Categories - categorizes image content according to a taxonomy defined in documentation. Tags - tags the image with a detailed list of words related to the image content. Description - describes the image content with a complete English sentence. Faces - detects if faces are present. If present, generate coordinates, gender and age. ImageType - detects if image is clipart or a line drawing. Color - determines the accent color, dominant color, and whether an image is black&white. Adult - detects if the image is pornographic in nature (depicts nudity or a sex act).  Sexually suggestive content is also detected. Objects - detects various objects within an image, including the approximate location. The Objects argument is only available in English. Brands - detects various brands within an image, including the approximate location. The Brands argument is only available in English.",
                        "in": "query",
                        "name": "visualFeatures",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "ImageType",
                                    "Faces",
                                    "Adult",
                                    "Categories",
                                    "Color",
                                    "Tags",
                                    "Description",
                                    "Objects",
                                    "Brands"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                    "modelAsString": false,
                                    "name": "VisualFeatureTypes"
                                },
                                "nullable": false
                            }
                        }
                    },
                    {
                        "description": "A string indicating which domain-specific details to return. Multiple values should be comma-separated. Valid visual feature types include: Celebrities - identifies celebrities if detected in the image, Landmarks - identifies notable landmarks in the image.",
                        "in": "query",
                        "name": "details",
                        "required": false,
                        "x-nullable": true,
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "Celebrities",
                                    "Landmarks"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                    "modelAsString": false,
                                    "name": "Details"
                                },
                                "nullable": false
                            }
                        }
                    },
                    {
                        "description": "The desired language for output generation. If this parameter is not specified, the default value is &quot;en&quot;.Supported languages:en - English, Default. es - Spanish, ja - Japanese, pt - Portuguese, zh - Simplified Chinese.",
                        "in": "query",
                        "name": "language",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "en",
                                "es",
                                "ja",
                                "pt",
                                "zh"
                            ],
                            "default": "en"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The response include the extracted features in JSON format. Here is the definitions for enumeration types:\r\n ClipartType\r\n Non - clipart = 0, ambiguous = 1, normal - clipart = 2, good - clipart = 3. LineDrawingTypeNon - LineDrawing = 0, LineDrawing = 1.",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Details about the API request error.",
                                    "properties": {
                                        "code": {
                                            "description": "The error code.",
                                            "enum": [
                                                "InvalidImageFormat",
                                                "UnsupportedMediaType",
                                                "InvalidImageUrl",
                                                "NotSupportedFeature",
                                                "NotSupportedImage",
                                                "Timeout",
                                                "InternalServerError",
                                                "InvalidImageSize",
                                                "BadArgument",
                                                "DetectFaceError",
                                                "NotSupportedLanguage",
                                                "InvalidThumbnailSize",
                                                "InvalidDetails",
                                                "InvalidModel",
                                                "CancelledRequest",
                                                "NotSupportedVisualFeature",
                                                "FailedToProcess",
                                                "Unspecified",
                                                "StorageException"
                                            ],
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "ComputerVisionErrorCodes"
                                            }
                                        },
                                        "message": {
                                            "description": "A message explaining the error reported by the service.",
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "description": "A unique request identifier.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Successful AnalyzeImage request": {
                        "parameters": {
                            "Endpoint": "https://westus.api.cognitive.microsoft.com",
                            "ImageUrl": "{url}",
                            "Ocp-Apim-Subscription-Key": "{API key}",
                            "details": [
                                "Celebrities",
                                "Landmarks"
                            ],
                            "language": "en",
                            "visualFeatures": [
                                "Categories",
                                "Adult",
                                "Tags",
                                "Description",
                                "Faces",
                                "Color",
                                "ImageType",
                                "Objects",
                                "Brands"
                            ]
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "adult": {
                                        "adultScore": 0.0934349000453949,
                                        "isAdultContent": false,
                                        "isRacyContent": false,
                                        "racyScore": 0.06861349195241928
                                    },
                                    "brands": [
                                        {
                                            "confidence": 0.857,
                                            "name": "Pepsi",
                                            "rectangle": {
                                                "h": 177,
                                                "w": 161,
                                                "x": 489,
                                                "y": 79
                                            }
                                        },
                                        {
                                            "confidence": 0.893,
                                            "name": "Coca-Cola",
                                            "rectangle": {
                                                "h": 372,
                                                "w": 171,
                                                "x": 216,
                                                "y": 55
                                            }
                                        }
                                    ],
                                    "categories": [
                                        {
                                            "name": "abstract_",
                                            "score": 0.00390625
                                        },
                                        {
                                            "detail": {
                                                "celebrities": [
                                                    {
                                                        "confidence": 0.999028444,
                                                        "faceRectangle": {
                                                            "height": 248,
                                                            "left": 597,
                                                            "top": 162,
                                                            "width": 248
                                                        },
                                                        "name": "Satya Nadella"
                                                    }
                                                ]
                                            },
                                            "name": "people_",
                                            "score": 0.83984375
                                        },
                                        {
                                            "detail": {
                                                "landmarks": [
                                                    {
                                                        "confidence": 0.9829016923904419,
                                                        "name": "Forbidden City"
                                                    }
                                                ]
                                            },
                                            "name": "building_",
                                            "score": 0.984375
                                        }
                                    ],
                                    "color": {
                                        "accentColor": "873B59",
                                        "dominantColorBackground": "Brown",
                                        "dominantColorForeground": "Brown",
                                        "dominantColors": [
                                            "Brown",
                                            "Black"
                                        ],
                                        "isBWImg": false
                                    },
                                    "description": {
                                        "captions": [
                                            {
                                                "confidence": 0.48293603002174407,
                                                "text": "Satya Nadella sitting on a bench"
                                            }
                                        ],
                                        "tags": [
                                            "person",
                                            "man",
                                            "outdoor",
                                            "window",
                                            "glasses"
                                        ]
                                    },
                                    "faces": [
                                        {
                                            "age": 44,
                                            "faceRectangle": {
                                                "height": 250,
                                                "left": 593,
                                                "top": 160,
                                                "width": 250
                                            },
                                            "gender": "Male"
                                        }
                                    ],
                                    "imageType": {
                                        "clipArtType": 0,
                                        "lineDrawingType": 0
                                    },
                                    "metadata": {
                                        "format": "Jpeg",
                                        "height": 1000,
                                        "width": 1500
                                    },
                                    "objects": [
                                        {
                                            "confidence": 0.9,
                                            "object": "tree",
                                            "parent": {
                                                "confidence": 0.95,
                                                "object": "plant"
                                            },
                                            "rectangle": {
                                                "h": 50,
                                                "w": 50,
                                                "x": 0,
                                                "y": 0
                                            }
                                        }
                                    ],
                                    "requestId": "0dbec5ad-a3d3-4f7e-96b4-dfd57efe967d",
                                    "tags": [
                                        {
                                            "confidence": 0.9897908568382263,
                                            "name": "person"
                                        },
                                        {
                                            "confidence": 0.9449388980865479,
                                            "name": "man"
                                        },
                                        {
                                            "confidence": 0.938492476940155,
                                            "name": "outdoor"
                                        },
                                        {
                                            "confidence": 0.8951393961906433,
                                            "name": "window"
                                        },
                                        {
                                            "confidence": 0.7250059783791661,
                                            "hint": "mammal",
                                            "name": "pangolin"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "url": {
                                        "description": "Publicly reachable URL of an image.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "url"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "A JSON document with a URL pointing to the image that is to be analyzed.",
                    "required": true
                }
            }
        },
        "/areaOfInterest": {
            "post": {
                "description": "This operation returns a bounding box around the most important area of the image.\r\nA successful response will be returned in JSON. If the request failed, the response contains an error code and a message to help determine what went wrong.\r\nUpon failure, the error code and an error message are returned. The error code could be one of InvalidImageUrl, InvalidImageFormat, InvalidImageSize, NotSupportedImage, FailedToProcess, Timeout, or InternalServerError.",
                "operationId": "GetAreaOfInterest",
                "responses": {
                    "200": {
                        "description": "The response includes the extracted area of interest in JSON format.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Result of AreaOfInterest operation.",
                                    "properties": {
                                        "areaOfInterest": {
                                            "description": "A bounding box for an area of interest inside an image.",
                                            "readOnly": true,
                                            "properties": {
                                                "h": {
                                                    "description": "Height measured from the top-left point of the area, in pixels.",
                                                    "format": "int32",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "w": {
                                                    "description": "Width measured from the top-left point of the area, in pixels.",
                                                    "format": "int32",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "x": {
                                                    "description": "X-coordinate of the top left point of the area, in pixels.",
                                                    "format": "int32",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "y": {
                                                    "description": "Y-coordinate of the top left point of the area, in pixels.",
                                                    "format": "int32",
                                                    "type": "integer",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "metadata": {
                                            "description": "Image metadata.",
                                            "properties": {
                                                "format": {
                                                    "description": "Image format.",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "height": {
                                                    "description": "Image height, in pixels.",
                                                    "format": "int32",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "width": {
                                                    "description": "Image width, in pixels.",
                                                    "format": "int32",
                                                    "type": "integer",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "requestId": {
                                            "description": "Id of the REST API request.",
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Details about the API request error.",
                                    "properties": {
                                        "code": {
                                            "description": "The error code.",
                                            "enum": [
                                                "InvalidImageFormat",
                                                "UnsupportedMediaType",
                                                "InvalidImageUrl",
                                                "NotSupportedFeature",
                                                "NotSupportedImage",
                                                "Timeout",
                                                "InternalServerError",
                                                "InvalidImageSize",
                                                "BadArgument",
                                                "DetectFaceError",
                                                "NotSupportedLanguage",
                                                "InvalidThumbnailSize",
                                                "InvalidDetails",
                                                "InvalidModel",
                                                "CancelledRequest",
                                                "NotSupportedVisualFeature",
                                                "FailedToProcess",
                                                "Unspecified",
                                                "StorageException"
                                            ],
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "ComputerVisionErrorCodes"
                                            }
                                        },
                                        "message": {
                                            "description": "A message explaining the error reported by the service.",
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "description": "A unique request identifier.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Successful GetAreaOfInterest request": {
                        "parameters": {
                            "Endpoint": "https://westus.api.cognitive.microsoft.com",
                            "ImageUrl": "{url}",
                            "Ocp-Apim-Subscription-Key": "{API key}"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "areaOfInterest": {
                                        "h": 951,
                                        "w": 950,
                                        "x": 160,
                                        "y": 0
                                    },
                                    "metadata": {
                                        "format": "Jpeg",
                                        "height": 951,
                                        "width": 1378
                                    },
                                    "requestId": "ed2de1c6-fb55-4686-b0da-4da6e05d283f"
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "url": {
                                        "description": "Publicly reachable URL of an image.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "url"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "A JSON document with a URL pointing to the image that is to be analyzed.",
                    "required": true
                }
            }
        },
        "/describe": {
            "post": {
                "description": "This operation generates a description of an image in human readable language with complete sentences. The description is based on a collection of content tags, which are also returned by the operation. More than one description can be generated for each image. Descriptions are ordered by their confidence score. All descriptions are in English.\r\nTwo input methods are supported -- (1) Uploading an image or (2) specifying an image URL.\r\nA successful response will be returned in JSON. If the request failed, the response will contain an error code and a message to help understand what went wrong.",
                "operationId": "DescribeImage",
                "parameters": [
                    {
                        "description": "Maximum number of candidate descriptions to be returned.  The default is 1.",
                        "in": "query",
                        "name": "maxCandidates",
                        "required": false,
                        "x-nullable": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "description": "The desired language for output generation. If this parameter is not specified, the default value is &quot;en&quot;.Supported languages:en - English, Default. es - Spanish, ja - Japanese, pt - Portuguese, zh - Simplified Chinese.",
                        "in": "query",
                        "name": "language",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "en",
                                "es",
                                "ja",
                                "pt",
                                "zh"
                            ],
                            "default": "en"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Image description object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A collection of content tags, along with a list of captions sorted by confidence level, and image metadata.",
                                    "properties": {
                                        "description": {
                                            "description": "A collection of content tags, along with a list of captions sorted by confidence level, and image metadata.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "captions": {
                                                    "description": "A list of captions, sorted by confidence level.",
                                                    "items": {
                                                        "description": "An image caption, i.e. a brief description of what the image depicts.",
                                                        "properties": {
                                                            "confidence": {
                                                                "description": "The level of confidence the service has in the caption.",
                                                                "format": "double",
                                                                "type": "number",
                                                                "nullable": false
                                                            },
                                                            "text": {
                                                                "description": "The text of the caption.",
                                                                "type": "string",
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object",
                                                        "nullable": true
                                                    },
                                                    "type": "array",
                                                    "nullable": true
                                                },
                                                "tags": {
                                                    "description": "A collection of image tags.",
                                                    "items": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "type": "array",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "metadata": {
                                            "description": "Image metadata.",
                                            "properties": {
                                                "format": {
                                                    "description": "Image format.",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "height": {
                                                    "description": "Image height, in pixels.",
                                                    "format": "int32",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "width": {
                                                    "description": "Image width, in pixels.",
                                                    "format": "int32",
                                                    "type": "integer",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "requestId": {
                                            "description": "Id of the REST API request.",
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Details about the API request error.",
                                    "properties": {
                                        "code": {
                                            "description": "The error code.",
                                            "enum": [
                                                "InvalidImageFormat",
                                                "UnsupportedMediaType",
                                                "InvalidImageUrl",
                                                "NotSupportedFeature",
                                                "NotSupportedImage",
                                                "Timeout",
                                                "InternalServerError",
                                                "InvalidImageSize",
                                                "BadArgument",
                                                "DetectFaceError",
                                                "NotSupportedLanguage",
                                                "InvalidThumbnailSize",
                                                "InvalidDetails",
                                                "InvalidModel",
                                                "CancelledRequest",
                                                "NotSupportedVisualFeature",
                                                "FailedToProcess",
                                                "Unspecified",
                                                "StorageException"
                                            ],
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "ComputerVisionErrorCodes"
                                            }
                                        },
                                        "message": {
                                            "description": "A message explaining the error reported by the service.",
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "description": "A unique request identifier.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Successful DescribeImage request": {
                        "parameters": {
                            "Endpoint": "https://westus.api.cognitive.microsoft.com",
                            "ImageUrl": "{url}",
                            "Ocp-Apim-Subscription-Key": "{API key}",
                            "maxCandidates": 1
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "description": {
                                        "captions": [
                                            {
                                                "confidence": 0.48293603002174407,
                                                "text": "Satya Nadella sitting on a bench"
                                            },
                                            {
                                                "confidence": 0.4003700681542283,
                                                "text": "Satya Nadella is sitting on a bench"
                                            },
                                            {
                                                "confidence": 0.38035155997373377,
                                                "text": "Satya Nadella sitting in front of a building"
                                            }
                                        ],
                                        "tags": [
                                            "person",
                                            "man",
                                            "outdoor",
                                            "window",
                                            "glasses"
                                        ]
                                    },
                                    "metadata": {
                                        "format": "Jpeg",
                                        "height": 1000,
                                        "width": 1500
                                    },
                                    "requestId": "ed2de1c6-fb55-4686-b0da-4da6e05d283f"
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "url": {
                                        "description": "Publicly reachable URL of an image.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "url"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "A JSON document with a URL pointing to the image that is to be analyzed.",
                    "required": true
                }
            }
        },
        "/detect": {
            "post": {
                "description": "Performs object detection on the specified image.\r\nTwo input methods are supported -- (1) Uploading an image or (2) specifying an image URL.\r\nA successful response will be returned in JSON. If the request failed, the response will contain an error code and a message to help understand what went wrong.",
                "operationId": "DetectObjects",
                "responses": {
                    "200": {
                        "description": "The response include the detected objects in JSON format.",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Details about the API request error.",
                                    "properties": {
                                        "code": {
                                            "description": "The error code.",
                                            "enum": [
                                                "InvalidImageFormat",
                                                "UnsupportedMediaType",
                                                "InvalidImageUrl",
                                                "NotSupportedFeature",
                                                "NotSupportedImage",
                                                "Timeout",
                                                "InternalServerError",
                                                "InvalidImageSize",
                                                "BadArgument",
                                                "DetectFaceError",
                                                "NotSupportedLanguage",
                                                "InvalidThumbnailSize",
                                                "InvalidDetails",
                                                "InvalidModel",
                                                "CancelledRequest",
                                                "NotSupportedVisualFeature",
                                                "FailedToProcess",
                                                "Unspecified",
                                                "StorageException"
                                            ],
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "ComputerVisionErrorCodes"
                                            }
                                        },
                                        "message": {
                                            "description": "A message explaining the error reported by the service.",
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "description": "A unique request identifier.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Successful DetectObjects request": {
                        "parameters": {
                            "Endpoint": "https://westus.api.cognitive.microsoft.com",
                            "ImageUrl": "{url}",
                            "Ocp-Apim-Subscription-Key": "{API key}"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "metadata": {
                                        "format": "Jpeg",
                                        "height": 100,
                                        "width": 100
                                    },
                                    "objects": [
                                        {
                                            "confidence": 0.9,
                                            "object": "tree",
                                            "parent": {
                                                "confidence": 0.95,
                                                "object": "plant"
                                            },
                                            "rectangle": {
                                                "h": 50,
                                                "w": 50,
                                                "x": 0,
                                                "y": 0
                                            }
                                        }
                                    ],
                                    "requestId": "1ad0e45e-b7b4-4be3-8042-53be96103337"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "url": {
                                        "description": "Publicly reachable URL of an image.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "url"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "A JSON document with a URL pointing to the image that is to be analyzed.",
                    "required": true
                }
            }
        },
        "/generateThumbnail": {
            "post": {
                "description": "This operation generates a thumbnail image with the user-specified width and height. By default, the service analyzes the image, identifies the region of interest (ROI), and generates smart cropping coordinates based on the ROI. Smart cropping helps when you specify an aspect ratio that differs from that of the input image.\r\nA successful response contains the thumbnail image binary. If the request failed, the response contains an error code and a message to help determine what went wrong.\r\nUpon failure, the error code and an error message are returned. The error code could be one of InvalidImageUrl, InvalidImageFormat, InvalidImageSize, InvalidThumbnailSize, NotSupportedImage, FailedToProcess, Timeout, or InternalServerError.",
                "operationId": "GenerateThumbnail",
                "parameters": [
                    {
                        "description": "Width of the thumbnail, in pixels. It must be between 1 and 1024. Recommended minimum of 50.",
                        "in": "query",
                        "name": "width",
                        "required": true,
                        "x-nullable": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "maximum": 1024
                        }
                    },
                    {
                        "description": "Height of the thumbnail, in pixels. It must be between 1 and 1024. Recommended minimum of 50.",
                        "in": "query",
                        "name": "height",
                        "required": true,
                        "x-nullable": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "maximum": 1024
                        }
                    },
                    {
                        "description": "Boolean flag for enabling smart cropping.",
                        "in": "query",
                        "name": "smartCropping",
                        "required": false,
                        "x-nullable": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The generated thumbnail in binary format.",
                        "content": {
                            "application/octet-stream": {}
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "description": "Details about the API request error.",
                                    "properties": {
                                        "code": {
                                            "description": "The error code.",
                                            "enum": [
                                                "InvalidImageFormat",
                                                "UnsupportedMediaType",
                                                "InvalidImageUrl",
                                                "NotSupportedFeature",
                                                "NotSupportedImage",
                                                "Timeout",
                                                "InternalServerError",
                                                "InvalidImageSize",
                                                "BadArgument",
                                                "DetectFaceError",
                                                "NotSupportedLanguage",
                                                "InvalidThumbnailSize",
                                                "InvalidDetails",
                                                "InvalidModel",
                                                "CancelledRequest",
                                                "NotSupportedVisualFeature",
                                                "FailedToProcess",
                                                "Unspecified",
                                                "StorageException"
                                            ],
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "ComputerVisionErrorCodes"
                                            }
                                        },
                                        "message": {
                                            "description": "A message explaining the error reported by the service.",
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "description": "A unique request identifier.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Successful GenerateThumbnail request": {
                        "parameters": {
                            "Endpoint": "https://westus.api.cognitive.microsoft.com",
                            "ImageUrl": "{url}",
                            "Ocp-Apim-Subscription-Key": "{API key}",
                            "height": "500",
                            "smartCropping": true,
                            "width": "500"
                        },
                        "responses": {
                            "200": {
                                "body": "{Binary}",
                                "headers": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "url": {
                                        "description": "Publicly reachable URL of an image.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "url"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "A JSON document with a URL pointing to the image that is to be analyzed.",
                    "required": true
                }
            }
        },
        "/models": {
            "get": {
                "description": "This operation returns the list of domain-specific models that are supported by the Computer Vision API. Currently, the API supports following domain-specific models: celebrity recognizer, landmark recognizer.\r\nA successful response will be returned in JSON. If the request failed, the response will contain an error code and a message to help understand what went wrong.",
                "operationId": "ListModels",
                "responses": {
                    "200": {
                        "description": "List of available domain models.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Result of the List Domain Models operation.",
                                    "properties": {
                                        "models": {
                                            "description": "An array of supported models.",
                                            "items": {
                                                "description": "An object describing supported model by name and categories.",
                                                "properties": {
                                                    "categories": {
                                                        "description": "Categories of the model.",
                                                        "items": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "type": "array",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "description": "The name of the model.",
                                                        "type": "string",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object",
                                                "nullable": true
                                            },
                                            "readOnly": true,
                                            "type": "array",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Details about the API request error.",
                                    "properties": {
                                        "code": {
                                            "description": "The error code.",
                                            "enum": [
                                                "InvalidImageFormat",
                                                "UnsupportedMediaType",
                                                "InvalidImageUrl",
                                                "NotSupportedFeature",
                                                "NotSupportedImage",
                                                "Timeout",
                                                "InternalServerError",
                                                "InvalidImageSize",
                                                "BadArgument",
                                                "DetectFaceError",
                                                "NotSupportedLanguage",
                                                "InvalidThumbnailSize",
                                                "InvalidDetails",
                                                "InvalidModel",
                                                "CancelledRequest",
                                                "NotSupportedVisualFeature",
                                                "FailedToProcess",
                                                "Unspecified",
                                                "StorageException"
                                            ],
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "ComputerVisionErrorCodes"
                                            }
                                        },
                                        "message": {
                                            "description": "A message explaining the error reported by the service.",
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "description": "A unique request identifier.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Successful ListModels request": {
                        "parameters": {
                            "Endpoint": "https://westus.api.cognitive.microsoft.com",
                            "Ocp-Apim-Subscription-Key": "{API key}"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "models": [
                                        {
                                            "categories": [
                                                "people_"
                                            ],
                                            "name": "celebrities"
                                        },
                                        {
                                            "categories": [
                                                "building_"
                                            ],
                                            "name": "landmarks"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            }
        },
        "/models/{model}/analyze": {
            "post": {
                "description": "This operation recognizes content within an image by applying a domain-specific model. The list of domain-specific models that are supported by the Computer Vision API can be retrieved using the /models GET request. Currently, the API provides following domain-specific models: celebrities, landmarks.\r\nTwo input methods are supported -- (1) Uploading an image or (2) specifying an image URL.\r\nA successful response will be returned in JSON.\r\nIf the request failed, the response will contain an error code and a message to help understand what went wrong.",
                "operationId": "AnalyzeImageByDomain",
                "parameters": [
                    {
                        "description": "The domain-specific content to recognize.",
                        "in": "path",
                        "name": "model",
                        "required": true,
                        "x-nullable": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The desired language for output generation. If this parameter is not specified, the default value is &quot;en&quot;.Supported languages:en - English, Default. es - Spanish, ja - Japanese, pt - Portuguese, zh - Simplified Chinese.",
                        "in": "query",
                        "name": "language",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "en",
                                "es",
                                "ja",
                                "pt",
                                "zh"
                            ],
                            "default": "en"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analysis result based on the domain model.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Result of image analysis using a specific domain model including additional metadata.",
                                    "properties": {
                                        "metadata": {
                                            "description": "Image metadata.",
                                            "properties": {
                                                "format": {
                                                    "description": "Image format.",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "height": {
                                                    "description": "Image height, in pixels.",
                                                    "format": "int32",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "width": {
                                                    "description": "Image width, in pixels.",
                                                    "format": "int32",
                                                    "type": "integer",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "requestId": {
                                            "description": "Id of the REST API request.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "result": {
                                            "description": "Model-specific response.",
                                            "type": "object",
                                            "x-ms-client-flatten": true
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Details about the API request error.",
                                    "properties": {
                                        "code": {
                                            "description": "The error code.",
                                            "enum": [
                                                "InvalidImageFormat",
                                                "UnsupportedMediaType",
                                                "InvalidImageUrl",
                                                "NotSupportedFeature",
                                                "NotSupportedImage",
                                                "Timeout",
                                                "InternalServerError",
                                                "InvalidImageSize",
                                                "BadArgument",
                                                "DetectFaceError",
                                                "NotSupportedLanguage",
                                                "InvalidThumbnailSize",
                                                "InvalidDetails",
                                                "InvalidModel",
                                                "CancelledRequest",
                                                "NotSupportedVisualFeature",
                                                "FailedToProcess",
                                                "Unspecified",
                                                "StorageException"
                                            ],
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "ComputerVisionErrorCodes"
                                            }
                                        },
                                        "message": {
                                            "description": "A message explaining the error reported by the service.",
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "description": "A unique request identifier.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Successful AnalyzeImageByDomain request": {
                        "parameters": {
                            "Endpoint": "https://westus.api.cognitive.microsoft.com",
                            "ImageUrl": "{url}",
                            "Ocp-Apim-Subscription-Key": "{API key}",
                            "model": "Celebrities"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "metadata": {
                                        "format": "Jpeg",
                                        "height": 1000,
                                        "width": 1500
                                    },
                                    "requestId": "f0027b4b-dc0d-4082-9228-1545ed246b03",
                                    "result": {
                                        "celebrities": [
                                            {
                                                "confidence": 0.999028444,
                                                "faceRectangle": {
                                                    "height": 248,
                                                    "left": 597,
                                                    "top": 162,
                                                    "width": 248
                                                },
                                                "name": "Satya Nadella"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "url": {
                                        "description": "Publicly reachable URL of an image.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "url"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "A JSON document with a URL pointing to the image that is to be analyzed.",
                    "required": true
                }
            }
        },
        "/ocr": {
            "post": {
                "description": "Optical Character Recognition (OCR) detects text in an image and extracts the recognized characters into a machine-usable character stream.\r\nUpon success, the OCR results will be returned.\r\nUpon failure, the error code together with an error message will be returned. The error code can be one of InvalidImageUrl, InvalidImageFormat, InvalidImageSize, NotSupportedImage, NotSupportedLanguage, or InternalServerError.",
                "operationId": "RecognizePrintedText",
                "parameters": [
                    {
                        "description": "Whether detect the text orientation in the image. With detectOrientation=true the OCR service tries to detect the image orientation and correct it before further processing (e.g. if it's upside-down).",
                        "in": "query",
                        "name": "detectOrientation",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "description": "The BCP-47 language code of the text to be detected in the image. The default value is 'unk'.",
                        "in": "query",
                        "name": "language",
                        "required": false,
                        "x-ms-enum": {
                            "modelAsString": false,
                            "name": "OcrLanguages"
                        },
                        "x-ms-parameter-location": "method",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "unk",
                                "zh-Hans",
                                "zh-Hant",
                                "cs",
                                "da",
                                "nl",
                                "en",
                                "fi",
                                "fr",
                                "de",
                                "el",
                                "hu",
                                "it",
                                "ja",
                                "ko",
                                "nb",
                                "pl",
                                "pt",
                                "ru",
                                "es",
                                "sv",
                                "tr",
                                "ar",
                                "ro",
                                "sr-Cyrl",
                                "sr-Latn",
                                "sk"
                            ],
                            "default": "unk"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The OCR results in the hierarchy of region/line/word. The results include text, bounding box for regions, lines and words. The angle, in degrees, of the detected text with respect to the closest horizontal or vertical direction. After rotating the input image clockwise by this angle, the recognized text lines become horizontal or vertical. In combination with the orientation property it can be used to overlay recognition results correctly on the original image, by rotating either the original image or recognition results by a suitable angle around the center of the original image. If the angle cannot be confidently detected, this property is not present. If the image contains text at different angles, only part of the text will be recognized correctly.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "language": {
                                            "description": "The BCP-47 language code of the text in the image.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "orientation": {
                                            "description": "Orientation of the text recognized in the image. The value (up, down, left, or right) refers to the direction that the top of the recognized text is facing, after the image has been rotated around its center according to the detected text angle (see textAngle property).",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "regions": {
                                            "description": "An array of objects, where each object represents a region of recognized text.",
                                            "items": {
                                                "description": "A region consists of multiple lines (e.g. a column of text in a multi-column document).",
                                                "properties": {
                                                    "boundingBox": {
                                                        "description": "Bounding box of a recognized region. The four integers represent the x-coordinate of the left edge, the y-coordinate of the top edge, width, and height of the bounding box, in the coordinate system of the input image, after it has been rotated around its center according to the detected text angle (see textAngle property), with the origin at the top-left corner, and the y-axis pointing down.",
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "lines": {
                                                        "description": "An array of recognized lines of text.",
                                                        "items": {
                                                            "description": "An object describing a single recognized line of text.",
                                                            "properties": {
                                                                "boundingBox": {
                                                                    "description": "Bounding box of a recognized line. The four integers represent the x-coordinate of the left edge, the y-coordinate of the top edge, width, and height of the bounding box, in the coordinate system of the input image, after it has been rotated around its center according to the detected text angle (see textAngle property), with the origin at the top-left corner, and the y-axis pointing down.",
                                                                    "type": "string",
                                                                    "nullable": true
                                                                },
                                                                "words": {
                                                                    "description": "An array of objects, where each object represents a recognized word.",
                                                                    "items": {
                                                                        "description": "Information on a recognized word.",
                                                                        "properties": {
                                                                            "boundingBox": {
                                                                                "description": "Bounding box of a recognized word. The four integers represent the x-coordinate of the left edge, the y-coordinate of the top edge, width, and height of the bounding box, in the coordinate system of the input image, after it has been rotated around its center according to the detected text angle (see textAngle property), with the origin at the top-left corner, and the y-axis pointing down.",
                                                                                "type": "string",
                                                                                "nullable": true
                                                                            },
                                                                            "text": {
                                                                                "description": "String value of a recognized word.",
                                                                                "type": "string",
                                                                                "nullable": true
                                                                            }
                                                                        },
                                                                        "type": "object",
                                                                        "nullable": true
                                                                    },
                                                                    "type": "array",
                                                                    "nullable": true
                                                                }
                                                            },
                                                            "type": "object",
                                                            "nullable": true
                                                        },
                                                        "type": "array",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object",
                                                "nullable": true
                                            },
                                            "type": "array",
                                            "nullable": true
                                        },
                                        "textAngle": {
                                            "description": "The angle, in degrees, of the detected text with respect to the closest horizontal or vertical direction. After rotating the input image clockwise by this angle, the recognized text lines become horizontal or vertical. In combination with the orientation property it can be used to overlay recognition results correctly on the original image, by rotating either the original image or recognition results by a suitable angle around the center of the original image. If the angle cannot be confidently detected, this property is not present. If the image contains text at different angles, only part of the text will be recognized correctly.",
                                            "format": "double",
                                            "type": "number",
                                            "nullable": false
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Details about the API request error.",
                                    "properties": {
                                        "code": {
                                            "description": "The error code.",
                                            "enum": [
                                                "InvalidImageFormat",
                                                "UnsupportedMediaType",
                                                "InvalidImageUrl",
                                                "NotSupportedFeature",
                                                "NotSupportedImage",
                                                "Timeout",
                                                "InternalServerError",
                                                "InvalidImageSize",
                                                "BadArgument",
                                                "DetectFaceError",
                                                "NotSupportedLanguage",
                                                "InvalidThumbnailSize",
                                                "InvalidDetails",
                                                "InvalidModel",
                                                "CancelledRequest",
                                                "NotSupportedVisualFeature",
                                                "FailedToProcess",
                                                "Unspecified",
                                                "StorageException"
                                            ],
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "ComputerVisionErrorCodes"
                                            }
                                        },
                                        "message": {
                                            "description": "A message explaining the error reported by the service.",
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "description": "A unique request identifier.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Successful RecognizePrintedText request": {
                        "parameters": {
                            "Endpoint": "https://westus.api.cognitive.microsoft.com",
                            "ImageUrl": "{url}",
                            "Ocp-Apim-Subscription-Key": "{API key}",
                            "detectOrientation": "true",
                            "language": "en"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "language": "en",
                                    "orientation": "Up",
                                    "regions": [
                                        {
                                            "boundingBox": "462,379,497,258",
                                            "lines": [
                                                {
                                                    "boundingBox": "462,379,497,74",
                                                    "words": [
                                                        {
                                                            "boundingBox": "462,379,41,73",
                                                            "text": "A"
                                                        },
                                                        {
                                                            "boundingBox": "523,379,153,73",
                                                            "text": "GOAL"
                                                        },
                                                        {
                                                            "boundingBox": "694,379,265,74",
                                                            "text": "WITHOUT"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "boundingBox": "565,471,289,74",
                                                    "words": [
                                                        {
                                                            "boundingBox": "565,471,41,73",
                                                            "text": "A"
                                                        },
                                                        {
                                                            "boundingBox": "626,471,150,73",
                                                            "text": "PLAN"
                                                        },
                                                        {
                                                            "boundingBox": "801,472,53,73",
                                                            "text": "IS"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "boundingBox": "519,563,375,74",
                                                    "words": [
                                                        {
                                                            "boundingBox": "519,563,149,74",
                                                            "text": "JUST"
                                                        },
                                                        {
                                                            "boundingBox": "683,564,41,72",
                                                            "text": "A"
                                                        },
                                                        {
                                                            "boundingBox": "741,564,153,73",
                                                            "text": "WISH"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ],
                                    "textAngle": -2.0000000000000338
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "url": {
                                        "description": "Publicly reachable URL of an image.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "url"
                                ],
                                "type": "object"
                            }
[...]
